{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "modules": "commonjs",
        "targets": {
          "node": 12
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        // "absoluteRuntime": false,
        "corejs": 3
        // "helpers": true,
        // "regenerator": true,
        // "useESModules": true
        // "version": "7.0.0-beta.0"
      }
    ]
  ]
}
