# Default owners of the repository
* @akucharska @dariadomagala @parostatkiem @kwiatekus @Wawrzyn321

# Owners of all .md files in the repository
*.md @kazydek @klaudiagrz @bszwarc @mmitoraj @majakurcius @alexandra-simeonova